<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Results for CLIP request</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.15.18/dist/css/uikit.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.15.18/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.15.18/dist/js/uikit-icons.min.js"></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.js"></script>
</head>
<style>
#grid {
   margin:15px;
   z-index: -1
 }
img {
  z-index: -2
}
p {
  padding: 10pt;
}
p.bold {
  font-weight: bold
}
p.thumb {
  margin-top: -1.5em;
  margin-left: 5px;
  font-size: 0.5em;
  height: 1em;
  color: red;
  padding: 0;
  font-weight: normal
}
div.bar {
  z-index: 1;
  margin-top: -1.7em;
  height: 2em;
  line-height: 2em;
  color: white;
  background-color: gray;
  padding: 0;
  font-size: 0.6em;
  font-weight: normal
}
</style>
<body>
    <p class="bold"><span style="font-weight: normal">Class:</span> {{targetClass}} / {{caption}} — {{comment}}</p>
    <div id="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 250 }'>
        {% for image in files %}
            <div class="grid-item">
              <img src="{{image}}" width="250" height="400" alt="">
              <p class="thumb">{{image|truncate(50)}} ({{loop.index}})</p>
              <div class="bar" style="background-color:{{fp[loop.index-1]}}">&nbsp;{{targetClass}}: {{prob1[loop.index-1]}}</div>
              <div class="bar" style="background-color:silver; margin-top:0em;">&nbsp;{{class2[loop.index-1]}}: {{prob2[loop.index-1]}}</div>
            </div>
        {% endfor %}
    </div>
    <p style="margin-bottom:-1em" class="bold">Confusion matrix</p>
    <object style="margin-left: 5px;width:800px;height:200px" data="{{confmatfile}}"> </object>
    <p style="margin-bottom:-2em" class="bold">Accuracy (mean): {{accuracy1}} %</p>
    <p style="margin-bottom:-2em;margin-left:10.5em">{{labels}}</p>
    <p class="bold">Accuracy (per class): {{accuracy2}} %</p>

    <p class="bold"><a href="{{url_for('page')}}">Back to main menu</a></p>

    <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.js"></script>
    <script >
    var grid = document.querySelector('#grid');

    var msnry = new Masonry( grid, {
  itemSelector: '.grid-item',
  percentPosition: true
});

  imagesLoaded( grid ).on( 'progress', function() {
  // layout Masonry after each image loads
  msnry.layout();
});

    </script >
</body>
</html>
