<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Results for CLIP request</title>

    <script src="static/masonry.pkgd.js"></script>
</head>
<style>
#grid {
   margin:15px;
   z-index: 0;
 }
p.thumb {
  margin-top: -1.5em;
  margin-left: 5px;
  margin-bottom: 0;
  font-size: 0.45em;
  color: red;
  padding: 0pt;
  font-weight: normal;
}
p.query {
  padding: 10pt;
  font-weight: bold
}
</style>
<body>
    <p class="query"><span style="font-weight: normal">Query:</span> {{query}} — {{comment}}</p>
    <div id="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 250 }'>
        {% set e = 0 %}
        {% for image in files %}
            <div class="grid-item">
              {% if not(urls|length) or urls[loop.index-1][:-1] == "-" %}
              <img src="{{image}}" width="250"  alt="image">
              {% else %}
              <a href="{{urls[loop.index-1][:-1]}}" target="_blank">
                <img src="{{image}}" width="250"  alt="image">
              </a>
              {% endif %}
              <p class="thumb">{{image|replace(use_case,"")|replace("static//","")|truncate(52)}} ({{prob[loop.index-1]}})</p></div>
        {% endfor %}
    </div>

    <p class="query"><a href="{{url_for('page')}}">Back to home page</a></p>

    <script src="static/imagesloaded.pkgd.js"></script>
    <script >
    var grid = document.querySelector('#grid');

    var msnry = new Masonry( grid, {
  itemSelector: '.grid-item',
  percentPosition: true
});

  imagesLoaded( grid ).on( 'progress', function() {
  // layout Masonry after each image loads
  msnry.layout();
});
    </script >
</body>
</html>
